* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Reset heading styles */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 1em;
    font-weight: bold;
    margin: 0 0;
    padding: 0;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    scroll-behavior: smooth;
}

body {
    background: linear-gradient(235deg, #55cac5 -15%, #fa4c1f 20.46%, #f9ab02 100%);
    min-height: 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* styling for scrollbar  */
::-webkit-scrollbar {
    width: 10px;
    height: 0px;
  }
  
/* Track */
::-webkit-scrollbar-track {
background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: #555; 
}


/* div inside a tag is valid in html5 but the text decoration still gets broken */
.noDecoration, a:link, a:visited {
    text-decoration: none;
}
/* for making elements like "show password" label unselectable */
.not-selectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


.page-background {
    position: absolute;
    z-index: -200;
    width:100vw;
    object-fit: contain;
}

/* homepage (leaderboard) */
.homepage {
    height: 100vh;
}

.big-header {
    font-family: raleway, sans-serif;
    font-weight: 800;
    color: white;
    font-size: 4.5em;
    text-shadow: 0px 9px 6px #00000029;
    -webkit-text-stroke: 4px #e97934;
    text-align: center;
    margin: 0 auto 0 auto;
    margin-top: 1vh;
    margin-bottom: 3vh;
}

.top3-wrapper{
    display: flex;
    flex-direction: row;
    /* margin-left: 20vw; */
    justify-content: center;
    align-items: flex-end;
}

.top3_indiv {
    padding:16px 16px 12px 16px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 27px;
    text-decoration: none!important;
    background: linear-gradient(#ffe8c0 0%, #e49613 100%);
    margin-right: 3em;
    max-width: 90%;
    box-shadow: 0px 7px 18px #2318CA29;
}

.top-two, .top-three {
    max-width: 34vh;
}

.top3_indiv img {
    height: 30vh;
    object-fit:cover;
    object-position: center;
    border-radius: 24px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.top3_indiv h3 {
    position: relative;
    font-family: britannic;
    text-decoration: none!important;
    color: white;
    font-weight: 500;
    font-size: 3em;
    width: 0;
    height: 0;
    top: 10px;
    left: 10px;
}

/* styling for first place top  */
.top-one img {
    width: 20em;
    height: 40vh;
}

.h3-placing{
    text-decoration: none;
}


.reactions {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    text-decoration: none;
    margin-top: 10px;
}

.reactions h4 {
    text-decoration: none;
    color: white;
    font-family: britannic;
    font-weight: 600;
    font-size: 2em;
    margin-right: 5px;
}

.reactions img {
   height: 40px;
   width: 40px;
}

/* recent creations  */
h2 {
    font-size: 20px;
    font-weight: 600;
    margin: 0 10vw;
}

.recent-creations {
    margin: 0 10vw;
}

#recent-creations-content{
    display: flex;
    flex-direction: row;
    overflow-x: scroll;  
}

.recent-h2{
    font-size: 30px;
    font-family: raleway, sans-serif;
    font-weight: 700;
    margin-top: 30px;
    margin-bottom: 10px;
    color: white;
}

.recent-creations img {
    object-fit: fill;
    object-fit: cover;
    height: 13em;
    width: 11em;
    padding: 23px 9px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    opacity: 1;
    margin-right: 38px;
    position: relative;
    backdrop-filter: blur(7px);
}

.recent h5 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    top: -26px;
    left: 9px;
    font-family: raleway, sans-serif;
    font-weight: 500;
}

.recent-reactions {
    display: flex;
    flex-direction: row;
    width: 70%;
    justify-content: space-between;
}


/* styling for creation single creation page  MOBILE only*/ 
.top3_indiv.creation-page {
    max-width: 30%;
}

.single-creation-h1 {
    font-family: raleway, sans-serif;
    font-size: 2.5em;
    text-align: center;
    margin-top: 8%;
    margin-bottom: 15%;
    text-shadow: 0px 9px 6px #00000029;
    -webkit-text-stroke: 1px #e97934;
    color: white;
}

h4.creation-page {
    display:flex;
    text-wrap: nowrap;
}

.reactions.creation-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.reactions.creation-page h4 {
    font-family: raleway, sans-serif;
    font-weight: 600;
    font-size: 1.5em;
    margin-bottom: 5px;
}

.emotes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: poppins, sans-serif;
    font-weight: 500;
    font-size: 1.2em;
    height: 100%;
    color: rgb(238, 238, 238);
    cursor:pointer;
}

.emotes img {
    margin-right: 5%;
    margin-left: 1%;
}




@media screen and (max-width: 768px) {
    .top3_indiv.creation-page {
        margin-left:auto;
        margin-right:auto;
        padding: 0;
        max-width: 100%;
     } 
     .top3_indiv.creation-page img {
        border-radius: 0;
        height: 50vh;

     }
     .emotes img{
        height: 3em!important;
        width: 50px;
     }
 
 }

/* emotes untapped state */
.emotes img{
    opacity: 0.8;
}

.emotes img:hover{
    opacity: 1;
}

.slide-out-top {
	animation: slide-out-top 1s ease-in-out 1s ;
}

/*** Generated by Animista
 * Licensed under FreeBSD License.
 * w: http://animista.net, t: @cssanimista ***/

@keyframes slide-out-top {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateY(-1000px);
        opacity: 0;
    }
}









/* styling for hidden input (api for unity to upload game new creations from the minigames to ) */
.hidden-h1 {
    font-size: 3em;
    margin-left: 100px;
}

.hidden-h2 {
    font-size: 2em;
    margin-left: 100px;
}
.create-creation-form {
    display: flex;
    flex-direction: column;
    padding: 50px 100px;
}

.form-input-wrapper {
    display: flex;
    flex-direction: column;
}

.form-input-wrapper label {
    margin-top: 20px;
}

.form-input-wrapper input {
    padding: 20px 20px 20px 20px;
    margin-bottom: 20px;
}

.nav-back {
    border-radius: 30px;
    padding: 5px 10px;
    font-size: 30px;
    margin-left: 40px;
}
